.form-control{
    border-radius: 50px;
}

.fa-scope {
    transform: translateX(25px);
}


.nse {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h6.nse:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.no-underline {
  text-decoration: none !important;
}

.embed-responsive-5by4{
   padding-bottom: 80%;
}

.back-nse {
    background-image: url("../images/inback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-result {
    background-image: url("../images/result.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-transparent {
    background-color: transparent;
}

.bg-input {
    background-color: whitesmoke;
}

.text-fustify {
    text-align: justify;
}

