<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
        integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>News Search Engine</title>
</head>

{% if not articles %}
<body class="back-nse" background="{{ url_for('static', filename='images/inback.jpg') }}" style="height: 100vh;">
    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light back-transparent justify-content-start">
{% else %}
<body class="back-nse" background="{{ url_for('static', filename='images/result.jpg') }}">
    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light fixed-top bg-info justify-content-start">
{% endif %}
        <a class="text-light no-underline mr-2" href="{{ url_for('scopes') }}">
            <h6 class="m-0 {{ 'text-light' if not articles }}">
                סקופים מתעדכנים
            </h6>
        </a>
        <a class="text-light no-underline mr-3" href="{{ url_for('news') }}">
            <h6 class="m-0 {{ 'text-light' if not articles }}">
                סקירת עיתונות
            </h6>
        </a>
        {% if articles %}
        <a class="text-primary no-underline mr-3" href="{{ url_for('index') }}">
            <h6 class="m-0">
                חיפוש חדש
            </h6>
        </a>
        {% endif %}
    </nav>
    {% if articles %}
    <div class="container" style="margin-top: 10vh;">
        <h1 dir="rtl" class="text-center">
            {{ articles|length }} תוצאות חיפוש עבור <span class="text-primary"><q>{{ search_query }}</q></span>
        </h1>
        <hr class="mb-4">
        <div class="d-flex flex-wrap justify-content-center justify-content-around">
            {% for article in articles %}
            <div class="card mb-5" style="width: 20rem;">
                <a class="no-underline text-dark" href="{{ article.url }}" target="blank">
                    <img class="card-img-top" src="{{ article.urlToImage if article.urlToImage else 'static/images/jour.jpg' }}" alt="Source"  style="height: 11em; object-fit: cover;">
                    <div class="card-footer" >
                        <p class="text-muted">
                            <span  class="float-left">
                                {{ article.publishedAt[:10] }}
                            </span>
                            <span class="float-right">
                                {{ article.source.name }}
                            </span>
                        </p>
                    </div>
                    <div dir="auto" class="card-body" >
                        <h5 class="card-title text-center text-justify">{{ article.title }}</h5>
                        <p class="card-text text-justify">{{ article.description|striptags }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container" style="margin-top: 35vh;">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="bs-component">
                    {% if articles == [] %}
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p dir="rtl" class="text-center mb-0">
                                אין תוצאות מתאימות להגדרת החיפוש!
                            </p>
                        </div>
                    {% endif %}
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p dir="rtl" class="text-center mb-0">
                                {{ message }}
                            </p>
                        </div>
                    {% endfor %}
                    <div class="card text-white border border-0 back-transparent">
                        <h1 class="display-1 text-center mt-4 nse">
                            <span class="text-primary">N</span>
                            <span class="text-success">S</span>
                            <span class="text-warning">E</span>
                        </h1>
                        <p class="lead text-center">
                            News Search Engine
                        </p>
                        <form id="search" class="form-inline m-4" method="post">
                            <input class="w-100 form-control bg-input mb-4 text-center" type="search" name="search" placeholder="ex: New Pixel" aria-label="Search">
                            <div dir="rtl" class="w-100 btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn text-white">
                                    <input type="radio" name="period" id="option1" autocomplete="off" value=1 checked onclick="document.getElementById('search').submit();"> היום
                                </label>
                                <label class="btn text-white">
                                    <input type="radio" name="period" id="option2" autocomplete="off" value=7 onclick="document.getElementById('search').submit();"> שבוע
                                </label>
                                <label class="btn text-white">
                                    <input type="radio" name="period" id="option3" autocomplete="off" value=30 onclick="document.getElementById('search').submit();"> חודש
                                </label>
                            </div>
                        </form>
                        <p class="text-center">
                            מנוע חיפוש חדשות פופולריות
                        </p>
                        <small class="text-center mb-2">
                            Copyright &copy; 2020 The NSE project!
                            Made with <i class="fa fa-heart fa-spin" style="color:Tomato"></i>
                            by leddest.
                        </small>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>